footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(39, 39, 39);
}

#botao_github {

    border: none;
    border-radius: 30vw;

}

@media(max-width: 480px) {

    
}