header {
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
header div{   
    width: 45vw;
    height: 10hw;

     display: flex;
    flex-direction: row;
    align-items: center;

 
}
#img_logo {
    width: 10vw;
    height: 10vh;
    margin: 0 2vw;
}

#logo_DoadorDeTerra {
    font-size: 3vw;
}

#botoes {
    justify-content: space-evenly;
}