header {
    width: 100vw;
    height: 10vh;

    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header div {
    width: 45vw;
    height: 10hw;

    display: flex;
    flex-direction: row;
    align-items: center;


}

#imgLogo:hover {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

#imgLogo {
    border-radius: 15vw;
}

#img_logo {
    width: 6vw;
    height: 10vh;
    margin: 0 2vw;

}

#logo_DoadorDeTerra {
    font-size: 3vw;
}

#botoes {
    justify-content: space-evenly;
}

.btn {

    background-color: #2C3E50;
    border-radius: 5vw;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.btn:hover {
    width: 9vw;
}

#n_sei {

    color: white;

}

@media(max-width: 480px) {
    #img_logo {
        width: 18vw;
        height: 10vh;
        margin: 0 2vw;
    }

    #logo_DoadorDeTerra {
        font-size: 6vw;
    }

    .btn {
        font-size: 1vh;
    }

}