#telaCadastro{
    width: 95vw;
    height: 80vh;

    margin: 10vh 2vw 2vh;

    position: fixed;
    top: 0;
    left: -100vw;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Putos{
    width: 10vw;
    height: 2vh;
    border-radius: 1vw;
    padding: 0 1vw;
}

#inputs_cad{
    width: 15vw;
    height: 25vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh 0;
}

#buttons_telaCad{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}