<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/Css/index/index.css">
    <script src="https://kit.fontawesome.com/ae79a02159.js" crossorigin="anonymous"></script>
    <script src="/controller/index.js" defer></script>
    <title>projetinho que o bryam ask</title>
</head>

<body>
    <header>
        <div id="logo_DoadorDeTerra">
            <div id="img_logo">
                <img id="imgLogo"
                    src="https://img.freepik.com/vetores-premium/design-de-logotipo-de-guaxinim_93835-89.jpg?w=826">
            </div>
            <h6 id="n_sei"> raccon company</h6>
        </div>
        <div id="botoes">
            <button class="btn" id="botao_f" onclick="window.location.href='./projetos.html'">
                <h1>projetos</h1>
            </button>
            <button class="btn" id="botao_s" onclick="window.location.href='./pokemon.html'">
                <h1>pokemon</h1>
            </button>
            <button class="btn" id="botao_t">
                <h1>sobre mim</h1>
            </button>
        </div>
    </header>
    <section>
        <div id="img_do_meio">
            <img id="imgDoMeio"
                
                src=" https://th.bing.com/th/id/R.f73b9a124231419b7ccb625147e9c995?rik=QoneOK17ibCkVg&pid=ImgRaw&r=0">
        </div>
        <div>
            <h1 class="escrita_section" id="primeiro_nome">DOADOR TOP 1</h1>
            <h1 class="escrita_section" id="segundo_nome">DE</h1>
            <h1 class="escrita_section" id="terceiro_nome">TERRA VEGETAL DE 5KG</h1>
            <h1 class="escrita_section" id="quarto_nome">presunto para monkeys bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla
            </h1>
        </div>
    </section>
    <footer id="footer">
        <button class="btn_footer" id="botao_github">
            <h1>Github<i id="logogithub" class="fa-brands fa-github fa-2xl"></i> </h1>
        </button>
    </footer>
</body>

</html>