<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae79a02159.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../Css/projetos/projetos.css">
    <script type="module" src="/controller/projetos.js" defer></script>
    <title>projetinho que o bryam ask</title>
</head>

<body>
    <header>
        <div id="logo_DoadorDeTerra">
            <div id="img_logo">
                <img id="imgLogo"
                    src="https://img.freepik.com/vetores-premium/design-de-logotipo-de-guaxinim_93835-89.jpg?w=826">
            </div>
            <h6 id="n_sei"> raccon company</h6>
        </div>
        <div id="botoes">
            <button class="btn" id="botao_f" onclick="window.location.href='./index.html'">
                <h1>home</h1>
            </button>
            <button class="btn" id="botao_s">
                <h1>braiam</h1>
            </button>
            <button class="btn" id="botao_t">
                <h1>brian</h1>
            </button>
        </div>
    </header>
    <section>
        <nav id="banners">
            <div class="banner" id="banner_0"></div>
            <div class="banner" id="banner_1"></div>
            <div class="banner" id="banner_2"></div>
            <div class="banner" id="banner_3"></div>
        </nav>
        <nav id="btns_banners">
            <button class="btns_banner" onclick="trocarBanner(0)"></button>
            <button class="btns_banner" onclick="trocarBanner(1)"></button>
            <button class="btns_banner" onclick="trocarBanner(2)"></button>
            <button class="btns_banner" onclick="trocarBanner(3)"></button>

        </nav>
    </section>
    <footer id="footer">
        <button class="btn_footer" id="botao_github">
            <h1>Github<i id="logogithub" class="fa-brands fa-github fa-2xl"></i> </h1>
        </button>
    </footer>
</body>

</html>